.photo {
    width: 400px;
    height: 700px;
    max-width: 100%;
    object-fit: cover;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Появляется подчеркивание */
}